<div id="splashCont">

	<div id="topCont">

		<!-- ? future -->
		<div>
		</div>
		<div id="topContCenter">
		</div>
		<div>
		</div>

	</div> 

	<div>

		<!--
			1. далеко не всегда дивы кроются масками свг
			2. у clip-path нет прозрачности, а у маски есть
			3. мапбокс объект не маскируется, даже в foreignObject
			=>
			создавать несколько карт на каждый клип-пас не вариант и лучше выкрутиться такой вот архитектурой
		-->

		<div id="backMap">
		</div>

		<div id="svgContainer" *ngIf="status == 1">

			<svg width="100%" height="100%">

			  <defs>

			  	<mask id="svgClip">

			  		<text id="texti" x="0" y="250" class="textClip" font-size="250" fill="rgba(250,250,250,1)">i</text>

			  		<text id="texth" x="85" y="250" font-size="250" class="textClip" fill="rgba(250,250,250,1)">h</text>
			  		<text id="textH" x="85" y="250" class="textClip" font-size="250" fill="rgba(250,250,250,0)">H</text>

			  		<text id="textor" x="245" y="250" class="textClip" font-size="250" fill="rgba(250,250,250,1)">or</text>
			      	<text id="textt" x="600" y="250" class="textClip" font-size="250" fill="rgba(250,250,250,1)">t</text>
			     	<text id="texteam" x="700" y="250" class="textClip" font-size="250" fill="rgba(250,250,250,1)">eam</text>

			      	<text id="textprod" x="0" y="363" class="textClip" fill="rgba(250,250,250,1)" font-size="113">products</text>
			     	<text id="textreg" x="560" y="363" class="textClip" fill="rgba(250,250,250,1)" font-size="113">unregistred</text>

			     	<rect id="texttnrect" x="0" y="0" height="100%" width="100%" fill="rgba(250,250,250,0)" clip-path="url(#tnClip)"/>

			  	</mask>

			  	<clipPath id="tnClip">

			  		<text x="50" y="140" class="textClip" font-size="140">Tribes&amp;Nations</text>
			  		<text x="470" y="320" class="textClip" font-size="140">&tilde;</text>
			  		<text x="540" y="270" class="textClip" font-size="140"> by </text>
			  		<text x="720" y="320" class="textClip" font-size="140">&tilde;</text>
			  		<text x="150" y="410" class="textClip" font-size="140">Ihor Kulinich</text>

			  	</clipPath>

			    <mask id="codeMask">
			            <rect x="0" y="0" height="100%" width="100%" fill="white"/>
			            <rect x="0" y="0" height="100%" width="100%" mask="url(#svgClip)"/>
			    </mask>

			  </defs>

			  <foreignObject x="0" y="0" width="100%" height="100%" mask="url(#codeMask)">

			  	<div id="hideMap" style="mask: url(#codeMask);"></div>

			  </foreignObject>

			  <foreignObject id="backCode" x="0" y="0" width="100%" height="100%" mask="url(#codeMask)">

			  	<div id="backCodeCont">

			  		<div id="backCodeGrid">

			  			<div class="borderOpacity">
			  			</div>

			  			<div id="golden">

			  				<div style="grid-column-start: span 1; grid-row-start: span 2;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 2; grid-row-start: 1;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 3; grid-row-start: 1;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 2; grid-row-start: 2;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 3; grid-row-start: 2; grid-row-end: 4;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 1; grid-row-start: 3;" class="borderOpacity">
			  				</div>

			  				<div style="grid-column-start: 2; grid-row-start: 3s;" class="borderOpacity">
			  				</div>

			  			</div>

			  			<div class="borderOpacity">
			  			</div>

			  		</div>

			  	</div>

			  </foreignObject>

			  <foreignObject x="0" y="0" width="100%" height="100%">

			  	<div id="hider" style="">
			  	</div>

			  </foreignObject>

			</svg>

		</div>

	</div>

	<div id="bottomCont">

		<!-- ? future -->
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>

	</div> 

</div>
